body{
	background-color: rgb(249, 249, 249);
	font-family: 'Indie Flower', sans-serif;
}

.container {
	background-color: rgb(255, 255, 255);
	width: 65%;
}

.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
}

img {
	margin-bottom: 40px;
}

.intro {
	margin-bottom: 30px;
}

.introtext {
	font-style: italic;
}

footer, header{
}
